In [50]:
import pandas as pd

path='data/AndiLow.csv'
# mengubah format ; menjadi rapi
data_mentah=pd.read_csv(path)


display(data_mentah)

# path1='data/AditHigh.csv'
# path2='data/JulLow.csv'
# path3='data/AndiLow.csv'
# x=pd.read_csv(path1)
# y=pd.read_csv(path2)
# z=pd.read_csv(path3)
# display(x)
# display(y)
# display(z)

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,Attention,Meditation,Derived,totPwr,class
0,1,2.03,123728,86624,30076,6889,12669,154182,32786,806,48,57,NaN,447760,*
1,2,3.03,431663,48516,12722,3414,10119,37473,22075,2631,53,50,NaN,568613,*
2,3,5.03,11843,35751,2586,3815,6226,43594,3721,973,51,40,NaN,108509,*
3,4,6.03,1399707,43544,26819,10892,21504,19780,24818,8966,38,41,NaN,1556030,*
4,5,7.03,62033,12744,2079,3050,9893,26054,6696,3822,43,38,NaN,126371,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,99.09.00,25681,1287,10182,4446,8486,19274,11686,2141,63,40,NaN,83183,4
80,81,100.09.00,28064,27285,15540,8301,4089,77043,104435,3483,57,54,NaN,268240,4
81,82,101.09.00,26487,70001,59765,27656,4236,127071,11708,6780,60,66,NaN,333704,4
82,83,102.09.00,1930055,341358,75824,86738,18911,15118,3475,3307,41,67,NaN,2474786,4
83,84,102.09.00,52605,29289,22214,6917,6423,12100,9698,3261,29,70,NaN,142507,4

# Menambahkan atribut A, B dan G

In [51]:
# Atribut A, B dan G didapat dari rata-rata gelombang Alpha beta dan Gamma

def atribut_gelombang(data_mentah):
    data_mentah['A']=(data_mentah['Alpha1']+data_mentah['Alpha2'])/2
    data_mentah['B']=(data_mentah['Beta1']+data_mentah['Beta2'])/2
    data_mentah['G']=(data_mentah['Gamma1']+data_mentah['Gamma2'])/2
    return data_mentah

display(atribut_gelombang(data_mentah))

# a=atribut_gelombang(x)
# b=atribut_gelombang(y)
# c=atribut_gelombang(z)

# display(x)
# display(y)
# display(z)

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,Attention,Meditation,Derived,totPwr,class,A,B,G
0,1,2.03,123728,86624,30076,6889,12669,154182,32786,806,48,57,NaN,447760,*,18482.5,83425.5,16796.0
1,2,3.03,431663,48516,12722,3414,10119,37473,22075,2631,53,50,NaN,568613,*,8068.0,23796.0,12353.0
2,3,5.03,11843,35751,2586,3815,6226,43594,3721,973,51,40,NaN,108509,*,3200.5,24910.0,2347.0
3,4,6.03,1399707,43544,26819,10892,21504,19780,24818,8966,38,41,NaN,1556030,*,18855.5,20642.0,16892.0
4,5,7.03,62033,12744,2079,3050,9893,26054,6696,3822,43,38,NaN,126371,*,2564.5,17973.5,5259.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,99.09.00,25681,1287,10182,4446,8486,19274,11686,2141,63,40,NaN,83183,4,7314.0,13880.0,6913.5
80,81,100.09.00,28064,27285,15540,8301,4089,77043,104435,3483,57,54,NaN,268240,4,11920.5,40566.0,53959.0
81,82,101.09.00,26487,70001,59765,27656,4236,127071,11708,6780,60,66,NaN,333704,4,43710.5,65653.5,9244.0
82,83,102.09.00,1930055,341358,75824,86738,18911,15118,3475,3307,41,67,NaN,2474786,4,81281.0,17014.5,3391.0
83,84,102.09.00,52605,29289,22214,6917,6423,12100,9698,3261,29,70,NaN,142507,4,14565.5,9261.5,6479.5

# Normalisasi

In [52]:

def normalisasi(data_mentah):

# membatasi data ke 11 hingga ke 70
    filter_data= data_mentah.loc[10:69]

    # Dari gelombang Alpha
    min_A=filter_data['A'].min()
    max_A=filter_data['A'].max()

    # Dari gelombang Beta
    min_B=filter_data['B'].min()
    max_B=filter_data['B'].max()

    # Dari gelombang Gamma
    min_G=filter_data['G'].min()
    max_G=filter_data['G'].max()

    data_mentah['An']=(data_mentah['A']-min_A)/(max_A-min_A)
    data_mentah['Bn']=(data_mentah['B']-min_B)/(max_B-min_B)
    data_mentah['Gn']=(data_mentah['G']-min_G)/(max_G-min_G)
    return data_mentah


display(normalisasi(data_mentah))
# x1=normalisasi(x)
# y1=normalisasi(y)
# z1=normalisasi(z)

# display(x1)
# display(y1)
# display(z1)

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,...,Meditation,Derived,totPwr,class,A,B,G,An,Bn,Gn
0,1,2.03,123728,86624,30076,6889,12669,154182,32786,806,...,57,NaN,447760,*,18482.5,83425.5,16796.0,0.632463,0.980296,0.521667
1,2,3.03,431663,48516,12722,3414,10119,37473,22075,2631,...,50,NaN,568613,*,8068.0,23796.0,12353.0,0.235931,0.254576,0.371485
2,3,5.03,11843,35751,2586,3815,6226,43594,3721,973,...,40,NaN,108509,*,3200.5,24910.0,2347.0,0.050602,0.268134,0.033261
3,4,6.03,1399707,43544,26819,10892,21504,19780,24818,8966,...,41,NaN,1556030,*,18855.5,20642.0,16892.0,0.646665,0.216190,0.524912
4,5,7.03,62033,12744,2079,3050,9893,26054,6696,3822,...,38,NaN,126371,*,2564.5,17973.5,5259.0,0.026386,0.183713,0.131693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,99.09.00,25681,1287,10182,4446,8486,19274,11686,2141,...,40,NaN,83183,4,7314.0,13880.0,6913.5,0.207223,0.133894,0.187618
80,81,100.09.00,28064,27285,15540,8301,4089,77043,104435,3483,...,54,NaN,268240,4,11920.5,40566.0,53959.0,0.382615,0.458675,1.777853
81,82,101.09.00,26487,70001,59765,27656,4236,127071,11708,6780,...,66,NaN,333704,4,43710.5,65653.5,9244.0,1.593017,0.764002,0.266394
82,83,102.09.00,1930055,341358,75824,86738,18911,15118,3475,3307,...,67,NaN,2474786,4,81281.0,17014.5,3391.0,3.023511,0.172042,0.068551
83,84,102.09.00,52605,29289,22214,6917,6423,12100,9698,3261,...,70,NaN,142507,4,14565.5,9261.5,6479.5,0.483323,0.077684,0.172948

# Transform wavelet

## alternatif

In [53]:
import math


def ekstraksi_gelombang(data_mentah):

    # Koefisien high pass
    high_h0 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))
    high_h1 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
    high_h2 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
    high_h3 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))

    # Koefisien low pass
    low_h0 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))
    low_h1 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
    low_h2 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
    low_h3 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))

    #ekstraksi Alpha
    def ekstraksi_Alpha(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):    
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)        
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        return result

    #ekstraksi Betalow
    def ekstraksi_Betalow(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        return result

    #ekstraksi BetaHigh
    def ekstraksi_BetaHigh(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        return result

    #ekstraksi Gamma
    def ekstraksi_Gamma(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        return result

   


    data_mentah['Ae'] = ekstraksi_Alpha(data_mentah['An'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
    data_mentah['Be0'] = ekstraksi_Betalow(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
    data_mentah['Be1'] = ekstraksi_BetaHigh(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
    data_mentah['Ge'] = ekstraksi_Gamma(data_mentah['Gn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)

    return data_mentah
display(ekstraksi_gelombang(data_mentah))

# x2=ekstraksi_gelombang(x)
# y2=ekstraksi_gelombang(y)
# z2=ekstraksi_gelombang(z)

# display(x2)
# display(y2)
# display(z2)

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,...,A,B,G,An,Bn,Gn,Ae,Be0,Be1,Ge
0,1,2.03,123728,86624,30076,6889,12669,154182,32786,806,...,18482.5,83425.5,16796.0,0.632463,0.980296,0.521667,3.577749,3.921184,5.545392,1.475497
1,2,3.03,431663,48516,12722,3414,10119,37473,22075,2631,...,8068.0,23796.0,12353.0,0.235931,0.254576,0.371485,1.334629,1.018304,1.440100,1.050717
2,3,5.03,11843,35751,2586,3815,6226,43594,3721,973,...,3200.5,24910.0,2347.0,0.050602,0.268134,0.033261,0.286246,1.072536,1.516795,0.094077
3,4,6.03,1399707,43544,26819,10892,21504,19780,24818,8966,...,18855.5,20642.0,16892.0,0.646665,0.216190,0.524912,3.658088,0.864762,1.222958,1.484676
4,5,7.03,62033,12744,2079,3050,9893,26054,6696,3822,...,2564.5,17973.5,5259.0,0.026386,0.183713,0.131693,0.149261,0.734854,1.039240,0.372484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,99.09.00,25681,1287,10182,4446,8486,19274,11686,2141,...,7314.0,13880.0,6913.5,0.207223,0.133894,0.187618,1.172229,0.535574,0.757416,0.530665
80,81,100.09.00,28064,27285,15540,8301,4089,77043,104435,3483,...,11920.5,40566.0,53959.0,0.382615,0.458675,1.777853,2.164397,1.834700,2.594658,5.028527
81,82,101.09.00,26487,70001,59765,27656,4236,127071,11708,6780,...,43710.5,65653.5,9244.0,1.593017,0.764002,0.266394,9.011465,3.056009,4.321849,0.753476
82,83,102.09.00,1930055,341358,75824,86738,18911,15118,3475,3307,...,81281.0,17014.5,3391.0,3.023511,0.172042,0.068551,17.103563,0.688168,0.973216,0.193890
83,84,102.09.00,52605,29289,22214,6917,6423,12100,9698,3261,...,14565.5,9261.5,6479.5,0.483323,0.077684,0.172948,2.734089,0.310737,0.439448,0.489171

## DB 4

In [10]:
# import math


# def ekstraksi_gelombang(data_mentah):
#     # Koefisien high pass
#     high_h0 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))
#     high_h1 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
#     high_h2 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
#     high_h3 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))

#     # Koefisien low pass
#     low_h0 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))
#     low_h1 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
#     low_h2 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
#     low_h3 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))

#     # Ekstraksi Alpha
#     def ekstraksi_Alpha(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(4):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3)    
#         return a1 + a2

#     # Ekstraksi Betalow
#     def ekstraksi_Betalow(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(3):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3) 
#         return a1 + a2

#     # Ekstraksi BetaHigh
#     def ekstraksi_BetaHigh(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(4):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3)  
#         return a1 + a2
        
#     # Ekstraksi Gamma
#     def ekstraksi_Gamma(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(2):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3)  
#         return a1 + a2

#     # Ekstraksi gelombang untuk setiap kolom
#     data_mentah['Ae'] = ekstraksi_Alpha(data_mentah['An'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
#     data_mentah['Be0'] = ekstraksi_Betalow(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
#     data_mentah['Be1'] = ekstraksi_BetaHigh(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
#     data_mentah['Ge'] = ekstraksi_Gamma(data_mentah['Gn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)

#     return data_mentah

    
# display(ekstraksi_gelombang(data_mentah))

## Reduksi Data

In [54]:

def gelombang_otak(data_mentah):
    #seleksi data dari urutan daka ke 11 hingga 70
    data_bersih=data_mentah.iloc[10:70]

    #mengisi nilai rata-rata

    rA=data_bersih['Ae'].mean()
    rB=data_bersih['Be1'].mean()
    rG=data_bersih['Ge'].mean()

    #mengisi nilai standar deviasi

    stdA = data_bersih['Ae'].std()
    stdB = data_bersih['Be1'].std()
    stdG = data_bersih['Ge'].std()

    #mengisi nilai absolute

    a=data_bersih['Ae']-rA
    b=data_bersih['Be1']-rB
    g=data_bersih['Ge']-rG
    
    absA=a.abs().mean()
    absB=b.abs().mean()
    absG=g.abs().mean()
    
    # target
    def data_target(rA,rB):
        if min(rA,rB)==rA:
            return 1
        else:
            return 0
    target=data_target(rA,rB)

    #membuat dataframe baru
    data_gelombang_otak=[rA,rB,rG,stdA,stdB,stdG,absA,absB,absG,target]
    
    # Mengembalikan data dictionary agar bisa diamsukan ke tabel baru
    return {
        'rA': rA,
        'rB': rB,
        'rG': rG,
        'stdA': stdA,
        'stdB': stdB,
        'stdG': stdG,
        'absA': absA,
        'absB': absB,
        'absG': absG,
        'target':target,
    }

mentah=[
    'data/AditHigh.csv',
    'data/AditLow.csv',
    'data/AhmadHigh.csv',
    'data/AhmadLow.csv',
    'data/AndiHigh.csv',
    'data/AndiLow.csv',
    'data/ArasHigh.csv',
    'data/ArasLow.csv',
    'data/JulHigh.csv',
    'data/JulLow.csv',

]
# data_bersih=data_mentah.iloc[10:70]
# display(data_bersih)
# display(len(data_bersih),data_bersih[['obs','Ae','Be1', 'Ge']])

# display(gelombang_otak(data_mentah))

# x3=gelombang_otak(x2)
# y3=gelombang_otak(y2)
# z3=gelombang_otak(z2)

# display(x3)
# display(y3)
# display(z3)

## alternatif

In [43]:

# def gelombang_otak(data_mentah):
#     #seleksi data dari urutan daka ke 11 hingga 70
#     data_bersih=data_mentah.iloc[10:70]

#     #mengisi nilai rata-rata

#     rA=data_bersih['Ae'].mean()
#     rB1=data_bersih['Be1'].mean()
#     rB0=data_bersih['Be0'].mean()
#     rG=data_bersih['Ge'].mean()

#     #mengisi nilai standar deviasi

#     stdA = data_bersih['Ae'].std()
#     stdB0 = data_bersih['Be0'].std()
#     stdB1 = data_bersih['Be1'].std()
#     stdG = data_bersih['Ge'].std()

#     #rata-rata absolute mengisi nilai absolute

#     a=data_bersih['Ae']-rA
#     # b=data_bersih['Be1']-rB
#     b0=data_bersih['Be0']-rB0
#     b1=data_bersih['Be1']-rB1
#     g=data_bersih['Ge']-rG
    
#     absA=a.abs().mean()
#     # absB=b.abs().mean()
#     absB0=b0.abs().mean()
#     absB1=b1.abs().mean()
#     absG=g.abs().mean()
    
#     z=(rB1+rB0)/2

    
#     # target
#     def data_target(rA,z):
#         if min(rA,z)==rA:
#             return True
#         else:        
#             return False
#     target=data_target(rA,z)

#     #membuat dataframe baru
#     data_gelombang_otak=[rA,rB0,rB1,rG,stdA,stdB0,stdB1,stdG,absA,absB0,absB1,absG,target]    
    
    
#     # Mengembalikan data dictionary agar bisa diamsukan ke tabel baru
#     return {
#         'rA': rA,
#         'rB0': rB0,
#         'rB1': rB1,
#         'rG': rG,
#         'stdA': stdA,
#         'stdB0': stdB0,
#         'stdB1': stdB1,
#         'stdG': stdG,
#         'absA': absA,
#         'absB0': absB0,
#         'absB1': absB1,
#         'absG': absG,
#         'target':target,

        
#     }


# mentah=[
#     'data/AditHigh.csv',
#     'data/AditLow.csv',
#     'data/AhmadHigh.csv',
#     'data/AhmadLow.csv',
#     'data/AndiHigh.csv',
#     'data/AndiLow.csv',
#     'data/ArasHigh.csv',
#     'data/ArasLow.csv',
#     'data/JulHigh.csv',
#     'data/JulLow.csv',

# ]

# data_bersih=data_mentah.iloc[10:70]
# # display(data_bersih)
# # display(len(data_bersih),data_bersih[['obs','Ae','Be1', 'Ge']])

## Data Latih

In [55]:

# data latih

#membuat dataframe baru
data_latih=['rA','rB','rG','stdA','stdB','stdG','absA','absB','absG','target']
# data_latih=['rA','rB0','rB1','rG','stdA','stdB0','stdB1','stdG','absA','absB0','absB1','absG','target']



# membuat variabel untuk menampung data_latih
data_latih=pd.DataFrame(columns=data_latih)

# fungsi persiapan data (mengubah data mentah menjadi data siap uji)
def persiapan_data(data_mentah):
    atribut_gelombang(data_mentah)
    normalisasi(data_mentah)
    ekstraksi_gelombang(data_mentah)
    hasil=gelombang_otak(data_mentah)
    return hasil



for data in mentah:
    hasil_data=pd.read_csv(data)
    result=persiapan_data(hasil_data)
    
    # tambahkan fungsi concat untuk menambahkan hasil perhitungan ke dalam data_latih
    data_latih=pd.concat([data_latih, pd.DataFrame([result])],ignore_index=True)


print("jumlah target 1 adalah :",data_latih['target'].sum())
print("dari",len(data_latih),' data')
display(data_latih)

jumlah target 1 adalah : 6
dari 10  data

,rA,rB,rG,stdA,stdB,stdG,absA,absB,absG,target
0,1.610124,1.890764,0.723214,1.291431,1.108605,0.609896,1.034696,0.854036,0.455668,1
1,0.718105,2.443882,0.524555,0.917572,1.333322,0.395304,0.508261,1.053057,0.244391,1
2,0.833177,2.036126,1.089481,0.788336,1.197911,0.609547,0.444869,0.883487,0.487266,1
3,1.219380,0.433191,0.275764,1.180659,0.764821,0.378669,0.854894,0.328298,0.179850,0
4,0.840645,0.519904,0.256612,1.128370,0.777849,0.472273,0.768465,0.402160,0.250815,0
5,1.610124,1.890764,0.723214,1.291431,1.108605,0.609896,1.034696,0.854036,0.455668,1
6,1.304006,1.702800,0.930412,1.173741,1.310425,0.672592,0.901932,1.064106,0.561949,1
7,1.050911,0.954511,0.477830,1.153423,1.109543,0.563868,0.831819,0.777889,0.388990,0
8,1.610124,1.890764,0.723214,1.291431,1.108605,0.609896,1.034696,0.854036,0.455668,1
9,0.452239,0.349834,0.597699,0.852803,0.914274,0.608175,0.486508,0.412555,0.468882,0

## LVQ manual

In [29]:
import math
class LVQ:
    def winner(self, weights, sample):
        D0 = 0
        D1 = 0
        display("ini sample",sample[0])
        
        for i in range(len(sample)):
            D0 = D0 + math.pow((sample[i] - weights[0][i]), 2)            
            D1 = D1 + math.pow((sample[i] - weights[1][i]), 2)
            # display(D0)
            # display(D1)
            
        if D0 > D1:
            return 0
        else:
            return 1

    def update(self, weights, sample, J, alpha, actual):
        if actual == J:  # Fixed comparison operator
            for i in range(len(weights[0])):  # Use len(weights[0]) instead of len(weights)
                weights[J][i] = weights[J][i] + alpha * (sample[i] - weights[J][i])
        else:
            for i in range(len(weights[0])):  # Use len(weights[0]) instead of len(weights)
                weights[J][i] = weights[J][i] - alpha * (sample[i] - weights[J][i])


X = data_latih.iloc[:, :-1].values
Y = data_latih['target'].values
x=X[:8]
target=Y[:8]

m, n = len(x), len(x[0])
weights = [X[8], X[9]]
print(weights)
    
m = m - 2

ob = LVQ()
epochs = 10
initial_alpha = 0.05
decay_rate= 0.8
    
for i in range(epochs):
    current_alpha= initial_alpha * (decay_rate ** i)        
    for j in range(m):
        T = x[j]
        J = ob.winner(weights, T)
        ob.update(weights, T, J, current_alpha, target[j])
    
correct_predictions = 0
total_predictions = len(x)
    
for i in range(total_predictions):
    sample = x[i]
    true_label = target[i]
        
    predicted_class = ob.winner(weights, sample)
        
    if predicted_class == true_label:
        correct_predictions += 1
    
accuracy = correct_predictions / total_predictions
print("Accuracy on training data:", accuracy)

[array([1.61012357, 1.89076437, 0.72321411, 1.29143087, 1.1086053 ,
       0.60989633, 1.03469619, 0.85403625, 0.45566798]), array([0.45223875, 0.34983389, 0.59769911, 0.85280322, 0.9142739 ,
       0.60817482, 0.4865081 , 0.41255525, 0.46888232])]

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.6101235663494153

'ini sample'

0.7181051194181483

'ini sample'

0.8331765584172126

'ini sample'

1.2193796045501344

'ini sample'

0.840645259550344

'ini sample'

1.6101235663494153

'ini sample'

1.304006201743618

'ini sample'

1.050910992932788

Accuracy on training data: 0.5