In [1]:
import pandas as pd

path='data/datafix/Anwar2.csv'
# mengubah format ; menjadi rapi
data_mentah=pd.read_csv(path)


display(data_mentah)

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,Attention,Meditation,Derived,totPwr,class
0,1,2.0,961432,110074,35903,51198,33465,16204,10063,2425,60,38,NA,1220764,*
1,2,4.0,203497,172894,64877,42474,33427,12645,4727,3269,63,54,NA,537810,*
2,3,5.0,203216,61022,3631,18581,15975,15166,3688,2352,64,48,NA,323631,*
3,4,6.0,287657,47877,4902,4559,3070,5238,786,1135,66,38,NA,355224,*
4,5,8.0,751626,95198,28780,3493,20100,15902,8345,2528,77,30,NA,925972,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,244.1,21205,4264,1414,6253,11350,5503,3593,2642,96,48,NA,56224,
202,203,246.1,10332,4794,12941,5082,9653,3196,4795,3233,90,66,NA,54026,
203,204,247.1,207207,23861,3181,13076,17803,5558,2275,5353,66,38,NA,278314,
204,205,248.1,22935,7049,3922,1512,3135,2538,1205,578,57,38,NA,42874,
205,206,248.1,50985,11705,3422,12219,11414,2398,6360,2846,54,35,NA,101349,

# Menambahkan atribut A, B dan G

In [2]:
# Atribut A, B dan G didapat dari rata-rata gelombang Alpha beta dan Gamma

def atribut_gelombang(data_mentah):
    data_mentah['A']=(data_mentah[' Alpha1']+data_mentah[' Alpha2'])/2
    data_mentah['B']=(data_mentah[' Beta1']+data_mentah[' Beta2'])/2
    data_mentah['G']=(data_mentah[' Gamma1']+data_mentah[' Gamma2'])/2    

    return data_mentah

display(atribut_gelombang(data_mentah))

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,Attention,Meditation,Derived,totPwr,class,A,B,G
0,1,2.0,961432,110074,35903,51198,33465,16204,10063,2425,60,38,NA,1220764,*,43550.5,24834.5,6244.0
1,2,4.0,203497,172894,64877,42474,33427,12645,4727,3269,63,54,NA,537810,*,53675.5,23036.0,3998.0
2,3,5.0,203216,61022,3631,18581,15975,15166,3688,2352,64,48,NA,323631,*,11106.0,15570.5,3020.0
3,4,6.0,287657,47877,4902,4559,3070,5238,786,1135,66,38,NA,355224,*,4730.5,4154.0,960.5
4,5,8.0,751626,95198,28780,3493,20100,15902,8345,2528,77,30,NA,925972,*,16136.5,18001.0,5436.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,244.1,21205,4264,1414,6253,11350,5503,3593,2642,96,48,NA,56224,,3833.5,8426.5,3117.5
202,203,246.1,10332,4794,12941,5082,9653,3196,4795,3233,90,66,NA,54026,,9011.5,6424.5,4014.0
203,204,247.1,207207,23861,3181,13076,17803,5558,2275,5353,66,38,NA,278314,,8128.5,11680.5,3814.0
204,205,248.1,22935,7049,3922,1512,3135,2538,1205,578,57,38,NA,42874,,2717.0,2836.5,891.5
205,206,248.1,50985,11705,3422,12219,11414,2398,6360,2846,54,35,NA,101349,,7820.5,6906.0,4603.0

# Normalisasi

In [3]:

def normalisasi(data_mentah):

# membatasi data ke 11 hingga ke 70
    filter_data= data_mentah.loc[10:69]

    # Dari gelombang Alpha
    min_A=filter_data['A'].min()
    max_A=filter_data['A'].max()

    # Dari gelombang Beta
    min_B=filter_data['B'].min()
    max_B=filter_data['B'].max()

    # Dari gelombang Gamma
    min_G=filter_data['G'].min()
    max_G=filter_data['G'].max()

    data_mentah['An']=(data_mentah['A']-min_A)/(max_A-min_A)
    data_mentah['Bn']=(data_mentah['B']-min_B)/(max_B-min_B)
    data_mentah['Gn']=(data_mentah['G']-min_G)/(max_G-min_G)
    return data_mentah


display(normalisasi(data_mentah))

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,...,Meditation,Derived,totPwr,class,A,B,G,An,Bn,Gn
0,1,2.0,961432,110074,35903,51198,33465,16204,10063,2425,...,38,NA,1220764,*,43550.5,24834.5,6244.0,0.356619,0.175002,0.260892
1,2,4.0,203497,172894,64877,42474,33427,12645,4727,3269,...,54,NA,537810,*,53675.5,23036.0,3998.0,0.439887,0.162037,0.161601
2,3,5.0,203216,61022,3631,18581,15975,15166,3688,2352,...,48,NA,323631,*,11106.0,15570.5,3020.0,0.089797,0.108220,0.118366
3,4,6.0,287657,47877,4902,4559,3070,5238,786,1135,...,38,NA,355224,*,4730.5,4154.0,960.5,0.037366,0.025922,0.027320
4,5,8.0,751626,95198,28780,3493,20100,15902,8345,2528,...,30,NA,925972,*,16136.5,18001.0,5436.5,0.131168,0.125741,0.225194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,244.1,21205,4264,1414,6253,11350,5503,3593,2642,...,48,NA,56224,,3833.5,8426.5,3117.5,0.029989,0.056722,0.122676
202,203,246.1,10332,4794,12941,5082,9653,3196,4795,3233,...,66,NA,54026,,9011.5,6424.5,4014.0,0.072572,0.042290,0.162309
203,204,247.1,207207,23861,3181,13076,17803,5558,2275,5353,...,38,NA,278314,,8128.5,11680.5,3814.0,0.065311,0.080179,0.153467
204,205,248.1,22935,7049,3922,1512,3135,2538,1205,578,...,38,NA,42874,,2717.0,2836.5,891.5,0.020807,0.016425,0.024270
205,206,248.1,50985,11705,3422,12219,11414,2398,6360,2846,...,35,NA,101349,,7820.5,6906.0,4603.0,0.062778,0.045761,0.188347

# Transform wavelet

## alternatif

In [4]:
import math


def ekstraksi_gelombang(data_mentah):

    # Koefisien high pass
    high_h0 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))
    high_h1 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
    high_h2 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
    high_h3 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))

    # Koefisien low pass
    low_h0 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))
    low_h1 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
    low_h2 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
    low_h3 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))

    #ekstraksi Alpha
    def ekstraksi_Alpha(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):    
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)      
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        return result

    #ekstraksi Betalow
    def ekstraksi_Betalow(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):        
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)        
        return result

    #ekstraksi BetaHigh
    def ekstraksi_BetaHigh(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)
        return result

    #ekstraksi Gamma
    def ekstraksi_Gamma(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
        result = (data * low_h0) + (data * low_h1) + (data * low_h2) + (data * low_h3)        
        result = (result * low_h0) + (result * low_h1) + (result * low_h2) + (result * low_h3)        
        result = (result * high_h0) + (result * high_h1) + (result * high_h2) + (result * high_h3)                
        return result

   


    data_mentah['Ae'] = ekstraksi_Alpha(data_mentah['An'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
    data_mentah['Be0'] = ekstraksi_Betalow(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
    data_mentah['Be1'] = ekstraksi_BetaHigh(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
    data_mentah['Ge'] = ekstraksi_Gamma(data_mentah['Gn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)

    return data_mentah
display(ekstraksi_gelombang(data_mentah))

,obs,time,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,...,A,B,G,An,Bn,Gn,Ae,Be0,Be1,Ge
0,1,2.0,961432,110074,35903,51198,33465,16204,10063,2425,...,43550.5,24834.5,6244.0,0.356619,0.175002,0.260892,2.017344,0.700007,0.989959,0.737913
1,2,4.0,203497,172894,64877,42474,33427,12645,4727,3269,...,53675.5,23036.0,3998.0,0.439887,0.162037,0.161601,2.488377,0.648148,0.916619,0.457077
2,3,5.0,203216,61022,3631,18581,15975,15166,3688,2352,...,11106.0,15570.5,3020.0,0.089797,0.108220,0.118366,0.507971,0.432882,0.612187,0.334790
3,4,6.0,287657,47877,4902,4559,3070,5238,786,1135,...,4730.5,4154.0,960.5,0.037366,0.025922,0.027320,0.211371,0.103690,0.146639,0.077274
4,5,8.0,751626,95198,28780,3493,20100,15902,8345,2528,...,16136.5,18001.0,5436.5,0.131168,0.125741,0.225194,0.741998,0.502965,0.711299,0.636945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,244.1,21205,4264,1414,6253,11350,5503,3593,2642,...,3833.5,8426.5,3117.5,0.029989,0.056722,0.122676,0.169641,0.226886,0.320866,0.346981
202,203,246.1,10332,4794,12941,5082,9653,3196,4795,3233,...,9011.5,6424.5,4014.0,0.072572,0.042290,0.162309,0.410531,0.169159,0.239227,0.459078
203,204,247.1,207207,23861,3181,13076,17803,5558,2275,5353,...,8128.5,11680.5,3814.0,0.065311,0.080179,0.153467,0.369452,0.320715,0.453559,0.434070
204,205,248.1,22935,7049,3922,1512,3135,2538,1205,578,...,2717.0,2836.5,891.5,0.020807,0.016425,0.024270,0.117700,0.065700,0.092914,0.068646
205,206,248.1,50985,11705,3422,12219,11414,2398,6360,2846,...,7820.5,6906.0,4603.0,0.062778,0.045761,0.188347,0.355123,0.183043,0.258862,0.532725

## DB 4

In [10]:
# import math


# def ekstraksi_gelombang(data_mentah):
#     # Koefisien high pass
#     high_h0 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))
#     high_h1 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
#     high_h2 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
#     high_h3 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))

#     # Koefisien low pass
#     low_h0 = (1 + math.sqrt(3)) / (4 * math.sqrt(2))
#     low_h1 = (3 + math.sqrt(3)) / (4 * math.sqrt(2))
#     low_h2 = (3 - math.sqrt(3)) / (4 * math.sqrt(2))
#     low_h3 = (1 - math.sqrt(3)) / (4 * math.sqrt(2))

#     # Ekstraksi Alpha
#     def ekstraksi_Alpha(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(4):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3)    
#         return a1 + a2

#     # Ekstraksi Betalow
#     def ekstraksi_Betalow(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(3):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3) 
#         return a1 + a2

#     # Ekstraksi BetaHigh
#     def ekstraksi_BetaHigh(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(4):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3)  
#         return a1 + a2
        
#     # Ekstraksi Gamma
#     def ekstraksi_Gamma(data, high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3):
#         a1 = data
#         a2 = data
#         for _ in range(2):
#             a1 = (a1 * low_h0) + (a1 * low_h1) 
#             a2 = (a2 * low_h2) + (a2 * low_h3)
#         a1 = (a1 * high_h0) + (a1 * high_h1) 
#         a2 = (a2 * high_h2) + (a2 * high_h3)  
#         return a1 + a2

#     # Ekstraksi gelombang untuk setiap kolom
#     data_mentah['Ae'] = ekstraksi_Alpha(data_mentah['An'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
#     data_mentah['Be0'] = ekstraksi_Betalow(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
#     data_mentah['Be1'] = ekstraksi_BetaHigh(data_mentah['Bn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)
#     data_mentah['Ge'] = ekstraksi_Gamma(data_mentah['Gn'], high_h0, high_h1, high_h2, high_h3, low_h0, low_h1, low_h2, low_h3)

#     return data_mentah

    
# display(ekstraksi_gelombang(data_mentah))

## Reduksi Data

In [5]:

def gelombang_otak(data_mentah):
    #seleksi data dari urutan daka ke 11 hingga 70
    data_bersih=data_mentah.iloc[10:70]

    #mengisi nilai rata-rata

    rA=data_bersih['Ae'].mean()
    rB=data_bersih['Be1'].mean()
    rG=data_bersih['Ge'].mean()
    

    #mengisi nilai standar deviasi

    stdA = data_bersih['Ae'].std()
    stdB = data_bersih['Be1'].std()
    stdG = data_bersih['Ge'].std()
    
    #mengisi nilai absolute

    a=data_bersih['Ae']-rA
    b=data_bersih['Be1']-rB
    g=data_bersih['Ge']-rG
    
    absA=a.abs().mean()
    absB=b.abs().mean()
    absG=g.abs().mean()
    
    # target
    def data_target(rA,rB):
        if min(rA,rB)==rA:
            return 1
        else:
            return 0
    target=data_target(rA,rB)
    jumlahdata=len(data_mentah)

    #membuat dataframe baru
    data_gelombang_otak=[rA,rB,rG,stdA,stdB,stdG,absA,absB,absG,target,jumlahdata]
    
    # Mengembalikan data dictionary agar bisa diamsukan ke tabel baru
    return {
        'rA': rA,
        'rB': rB,
        'rG': rG,
        'stdA': stdA,
        'stdB': stdB,
        'stdG': stdG,
        'absA': absA,
        'absB': absB,
        'absG': absG,
        'target':target,
        'jumlahdata':jumlahdata
    }

    

mentah=[
    'data/datafix/Anwar2.csv',
    'data/datafix/AnwarHigh.csv',
    'data/datafix/Ardi2.csv',
    'data/datafix/ArdiHigh.csv',
    'data/datafix/Asep2.csv',
    'data/datafix/AsepHigh.csv',
    'data/datafix/Indra2.csv',
    'data/datafix/IndraHigh.csv',
    'data/datafix/Teddy2.csv',
    'data/datafix/TeddyHigh.csv',
    'data/datafix/Zaenal2.csv',
    'data/datafix/ZaenalHigh.csv',
  

]

## alternatif

In [43]:

# def gelombang_otak(data_mentah):
#     #seleksi data dari urutan daka ke 11 hingga 70
#     data_bersih=data_mentah.iloc[10:70]

#     #mengisi nilai rata-rata

#     rA=data_bersih['Ae'].mean()
#     rB1=data_bersih['Be1'].mean()
#     rB0=data_bersih['Be0'].mean()
#     rG=data_bersih['Ge'].mean()

#     #mengisi nilai standar deviasi

#     stdA = data_bersih['Ae'].std()
#     stdB0 = data_bersih['Be0'].std()
#     stdB1 = data_bersih['Be1'].std()
#     stdG = data_bersih['Ge'].std()

#     #rata-rata absolute mengisi nilai absolute

#     a=data_bersih['Ae']-rA
#     # b=data_bersih['Be1']-rB
#     b0=data_bersih['Be0']-rB0
#     b1=data_bersih['Be1']-rB1
#     g=data_bersih['Ge']-rG
    
#     absA=a.abs().mean()
#     # absB=b.abs().mean()
#     absB0=b0.abs().mean()
#     absB1=b1.abs().mean()
#     absG=g.abs().mean()
    
#     z=(rB1+rB0)/2

    
#     # target
#     def data_target(rA,z):
#         if min(rA,z)==rA:
#             return True
#         else:        
#             return False
#     target=data_target(rA,z)

#     #membuat dataframe baru
#     data_gelombang_otak=[rA,rB0,rB1,rG,stdA,stdB0,stdB1,stdG,absA,absB0,absB1,absG,target]    
    
    
#     # Mengembalikan data dictionary agar bisa diamsukan ke tabel baru
#     return {
#         'rA': rA,
#         'rB0': rB0,
#         'rB1': rB1,
#         'rG': rG,
#         'stdA': stdA,
#         'stdB0': stdB0,
#         'stdB1': stdB1,
#         'stdG': stdG,
#         'absA': absA,
#         'absB0': absB0,
#         'absB1': absB1,
#         'absG': absG,
#         'target':target,

        
#     }


# mentah=[
#     'data/AditHigh.csv',
#     'data/AditLow.csv',
#     'data/AhmadHigh.csv',
#     'data/AhmadLow.csv',
#     'data/AndiHigh.csv',
#     'data/AndiLow.csv',
#     'data/ArasHigh.csv',
#     'data/ArasLow.csv',
#     'data/JulHigh.csv',
#     'data/JulLow.csv',

# ]

# data_bersih=data_mentah.iloc[10:70]
# # display(data_bersih)
# # display(len(data_bersih),data_bersih[['obs','Ae','Be1', 'Ge']])

## Data Latih

In [6]:

# data latih

#membuat dataframe baru
data_latih=['rA','rB','rG','stdA','stdB','stdG','absA','absB','absG','target','jumlahdata']
# data_latih=['rA','rB0','rB1','rG','stdA','stdB0','stdB1','stdG','absA','absB0','absB1','absG','target']



# membuat variabel untuk menampung data_latih
data_latih=pd.DataFrame(columns=data_latih)

# fungsi persiapan data (mengubah data mentah menjadi data siap uji)
def persiapan_data(data_mentah):
    atribut_gelombang(data_mentah)
    normalisasi(data_mentah)
    ekstraksi_gelombang(data_mentah)
    hasil=gelombang_otak(data_mentah)
    return hasil



for data in mentah:
    hasil_data=pd.read_csv(data)
    result=persiapan_data(hasil_data)
    
    # tambahkan fungsi concat untuk menambahkan hasil perhitungan ke dalam data_latih
    data_latih=pd.concat([data_latih, pd.DataFrame([result])],ignore_index=True)


print("jumlah target 1 adalah :",data_latih['target'].sum())
print("dari",len(data_latih),' data')
display(data_latih)

jumlah target 1 adalah : 5
dari 12  data

,rA,rB,rG,stdA,stdB,stdG,absA,absB,absG,target,jumlahdata
0,0.681567,0.447982,0.358112,0.951797,0.818799,0.528264,0.595188,0.403305,0.296550,0,206
1,0.482633,0.431818,0.326918,0.751230,0.738435,0.408572,0.357909,0.302083,0.218789,0,210
2,0.645415,1.160652,0.448622,0.869737,1.199149,0.578114,0.538064,0.874086,0.387591,1,453
3,0.929393,0.935000,0.519462,1.098014,1.103692,0.567344,0.774871,0.727216,0.392134,1,217
4,0.858302,1.003282,0.486964,1.121971,1.046192,0.484111,0.715666,0.702707,0.297774,1,213
5,1.259468,0.737742,0.597016,1.208304,0.904969,0.446909,0.964267,0.486875,0.296991,0,223
6,1.137525,0.561154,0.233340,1.139989,0.800913,0.372294,0.802934,0.423474,0.168197,0,142
7,1.186116,1.051663,0.413545,1.039375,1.079868,0.459841,0.766178,0.761114,0.316411,0,136
8,1.515090,2.255887,0.513167,1.202813,1.241597,0.414312,0.924311,0.994483,0.251526,1,327
9,1.852654,1.570651,0.559820,1.221432,1.040499,0.480773,0.960269,0.742908,0.324252,0,294
10,0.519155,0.487753,0.191187,1.023787,1.040162,0.466257,0.520863,0.549767,0.236973,0,156
11,0.232289,0.258089,0.145412,0.767106,0.772092,0.418601,0.279947,0.289700,0.179024,1,198

## LVQ manual

In [3]:
import math
class LVQ:
    def winner(self, weights, sample):
        D0 = 0
        D1 = 0
        # display("ini sample",sample[0])
        
        for i in range(len(sample)):
            D0 = D0 + math.pow((sample[i] - weights[0][i]), 2)            
            D1 = D1 + math.pow((sample[i] - weights[1][i]), 2)
            # display(D0)
            # display(D1)
            
        if D0 > D1:
        #     return 0
        # else:
        #     return 1
            print("D0:", D0, "D1:", D1)  # Menampilkan nilai D0 dan D1
            return 0
        else:
            print("D0:", D0, "D1:", D1)  # Menampilkan nilai D0 dan D1
            return 1

    def update(self, weights, sample, J, alpha, actual):
        if actual == J:  # Fixed comparison operator
            for i in range(len(weights[0])):  # Use len(weights[0]) instead of len(weights)
                weights[J][i] = weights[J][i] + alpha * (sample[i] - weights[J][i])
        else:
            for i in range(len(weights[0])):  # Use len(weights[0]) instead of len(weights)
                weights[J][i] = weights[J][i] - alpha * (sample[i] - weights[J][i])


X = data_latih.iloc[:, :-1].values
Y = data_latih['target'].values
x=X[:8]
target=Y[:8]

m, n = len(x), len(x[0])
weights = [X[8], X[9]]
print(weights)
    
m = m - 2

ob = LVQ()
epochs = 10
initial_alpha = 0.05
decay_rate= 0.8
    
for i in range(epochs):
    current_alpha= initial_alpha * (decay_rate ** i)        
    for j in range(m):
        T = x[j]
        J = ob.winner(weights, T)
        ob.update(weights, T, J, current_alpha, target[j])
    
correct_predictions = 0
total_predictions = len(x)
    
for i in range(total_predictions):
    sample = x[i]
    true_label = target[i]
        
    predicted_class = ob.winner(weights, sample)
        
    if predicted_class == true_label:
        correct_predictions += 1
    
accuracy = correct_predictions / total_predictions
print("Accuracy on training data:", accuracy)

In [1]:
import math
from preprocessing import data_latih


class LVQ:
    
    def winner(self, weights, sample):
        D0 = 0
        D1 = 0
        
        for i in range(len(sample)):
            D0 = D0 + math.pow((sample[i] - weights[0][i]), 2)
            D1 = D1 + math.pow((sample[i] - weights[1][i]), 2)
            
        if D0 > D1:
            return 0
        else:
            return 1

    def update(self, weights, sample, J, alpha, actual):
        if actual == J:
            for i in range(len(weights[0])):
                weights[J][i] = weights[J][i] + alpha * (sample[i] - weights[J][i])
        else:
            for i in range(len(weights[0])):
                weights[J][i] = weights[J][i] - alpha * (sample[i] - weights[J][i])
                
def train_lvq(x, y, initial_alpha=0.05, decay_rate=0.8, epochs=14):
    m, n = len(x), len(x[0])
    weights = [x[8], x[9]]
    m = m - 2
    
    ob = LVQ()
    
    for i in range(epochs):
        current_alpha = initial_alpha * (decay_rate ** i)
        for j in range(m):
            T = x[j]
            J = ob.winner(weights, T)
            ob.update(weights, T, J, current_alpha, y[j])
    
    return weights

import math
from preprocessing import data_latih


class LVQ:
    
    def winner(self, weights, sample):
        D0 = 0
        D1 = 0
        
        for i in range(len(sample)):
            D0 = D0 + math.pow((sample[i] - weights[0][i]), 2)
            D1 = D1 + math.pow((sample[i] - weights[1][i]), 2)
            
        if D0 > D1:
            return 0
        else:
            return 1

    def update(self, weights, sample, J, alpha, actual):
        if actual == J:
            for i in range(len(weights[0])):
                weights[J][i] = weights[J][i] + alpha * (sample[i] - weights[J][i])
        else:
            for i in range(len(weights[0])):
                weights[J][i] = weights[J][i] - alpha * (sample[i] - weights[J][i])
                
def train_lvq(x, y, initial_alpha=0.05, decay_rate=0.8, epochs=14):
    m, n = len(x), len(x[0])
    weights = [x[8], x[9]]
    m = m - 2
    logs=[]
    
    ob = LVQ()
    
    for i in range(epochs):
        current_alpha = initial_alpha * (decay_rate ** i)
        for j in range(m):
            T = x[j]
            J = ob.winner(weights, T)
            ob.update(weights, T, J, current_alpha, y[j])

            logs.append(f"Epoch {i+1}, Sample {j+1}, Winner: {J}, Weights: {weights}")
    return weights,logs


# def main():
#     X = data_latih.iloc[:, :-1].values
#     Y = data_latih['target'].values
#     x = X[:8]
#     y = Y[:8]

#     m, n = len(x), len(x[0])
#     weights = [X[8], X[9]]
#     m = m - 2
    
#     ob = LVQ()
#     epochs = 14
#     initial_alpha = 0.05
#     decay_rate = 0.8
        
#     for i in range(epochs):
#         current_alpha = initial_alpha * (decay_rate ** i)        
#         for j in range(m):
#             T = x[j]
#             J = ob.winner(weights, T)
#             ob.update(weights, T, J, current_alpha, y[j])
        
#     return weights